<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Profile</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top" style="padding-bottom: 10px;">
            <a class="navbar-brand" href="/"  style="font-family: cursive;font-weight: bold;font-size: 30px;">SayOne</a>
            <ul class="navbar-nav ml-auto">

            </ul>
    </nav>

      <div class="container" style="padding-top: 120px; padding-left:50px; width:60%">
        <form action="accounts/profile/" method="post" >
            {% csrf_token %}
            <div class="form-group">
                <label for="mobile_no">Mobile No.:</label>
                <input type="text" class="form-control" id="mobile_no" placeholder="Enter Your mobile No." name="mobile_no" >
              </div>
              <div class="form-group">
                <label for="place">Place of Residence:</label>
                <input type="text" class="form-control" id="place" placeholder="Where do you live?" name="place" >
              </div>
              <div class="form-group">
                <label for="alt_email">alternate email Email:</label>
                <input type="email" class="form-control" id="alt_email" placeholder="Alternate email" name="alt_email" >
              </div>
              <div class="form-group">
                <label for="edu">Education:</label>
                <input type="text" class="form-control" id="edu" placeholder="Education" name="edu">
              </div>
              <div class="form-group">
                <label for="hobbies">Hobbies:</label>
                <input type="text" class="form-control" id="hobbies" placeholder="Hobbies" name="hobbies" >
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
</body>
</html>